<template name="Myfood">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> MyfoodView}}
	</div>
</template>

<template name="MyfoodView">
	<div id="dataview" class="">
		<h2 id="component-title">
			我的订单
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="餐馆/菜/电话" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			没有找到 "{{searchString}}".
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> MyfoodViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			暂时还没有点任何东西哦~:(
		</div>
		{{/if}}
	</div>
</template>

<template name="MyfoodViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					餐馆名
				</th>
				<th class="th-sortable" data-sort="phone">
				  电话	
				</th>
				<th class="th-sortable" data-sort="menu">
          菜名
				</th>
				<th class="th-sortable" data-sort="price">
					价格
				</th>
				<th class="th-sortable" data-sort="note">
				  备注	
				</th>
				<th class="th-sortable" data-sort="date">
					下单日期
				</th>
        <th width="100">
          操作
        </th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> MyfoodViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="MyfoodViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{phone}}
		</td>
		<td>
			{{menu}}
		</td>
		<td>
			{{price}}
		</td>
		<td>
			{{note}}
		</td>
		<td>
			{{formatDate createdAt 'YYYY/MM/DD HH:MM'}}
		</td>
		<td class="td-icon" width="100">
			<span id="delete-button" class="fa fa-trash-o" title="删除">
			</span>
		</td>
	</tr>
</template>

