<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Meteor 点餐系统
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeMeteorFeed}}
	</div>
</template>

<template name="HomePublicHomeMeteorFeed">
	<div class="jumbotron ">
		<div class="container">
			<div class="pull-left">
				<h1 id="component-title">
					Meteor 点餐系统
				</h1>
				<p id="jumbotron-text">
					Meteor Feed项目是由纯净Meteor代码编写的的点餐系统，
          请注册<a href="{{ pathFor route='login' }} ">登录</a>后使用。<br/>
          有任何bug麻烦联系我： xiongyj@knownsec.com.<br/>
          为Meteor-feed添砖加瓦：<a href="https://github.com/xiao17/meteor-feed" target="_blank">https://github.com/xiao17/meteor-feed</a>
          <br/>
          初始管理员账号：admin@qq.com &nbsp;&nbsp;&nbsp; 123456
				</p>
				<p id="jumbotron-button">
				</p>
        <a href="{{ pathFor route='login' }}" class="btn btn-primary btn-lg" role="button">
          马上去点餐
        </a>
			</div>
		</div>
	</div>
</template>

