<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Meteor 点餐系统
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomeHomeMeteorFeed}}
	</div>
</template>

<template name="HomeHomeMeteorFeed">
	<div class="jumbotron ">
		<div class="container">
			<div class="pull-left">
				<h1 id="component-title">
					Meteor 点餐系统
				</h1>
				<p id="jumbotron-text">
					Meteor Feed项目是由纯净Meteor代码编写的供Knownsec使用的点餐系统
				</p>
				<p id="jumbotron-button">
					<a href="#" class="btn btn-primary btn-lg" role="button">
						查看餐馆
					</a>
				</p>
			</div>
		</div>
	</div>
</template>

