<template name="ResetPassword">
	<div class="container">
		<form id="reset_password_form" class="account-form" role="form">
			<h2>
        重置密码
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="new_password" type="password" class="form-control" placeholder="请输入新密码" required autofocus>
			<input id="new_password_confirm" type="password" class="form-control" placeholder="确认密码" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="请稍后...">
        确认修改
			</button>
		</form>
	</div>
</template>

