<template name="ShopDetails">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> ShopDetailsDetailsForm}}
	</div>
</template>

<template name="ShopDetailsDetailsForm">
	<div class="">
		<h2 id="component-title">
			<a href="#" id="form-back-button" class="btn btn-default" title="back">
				<span class="fa fa-chevron-left">
				</span>
			</a>
			餐馆详情
		</h2>
		<form id="form" role="form" class="form-horizontal">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}		
		
			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name" class="col-sm-3 control-label">
					餐馆名
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{shop_detail.name}}
					</p>
				</div>
			</div>
			<div class="form-group  field-phone">
				<label for="phone" class="col-sm-3 control-label">
					电话
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{shop_detail.phone}}
					</p>
				</div>
			</div>
			<div class="form-group  field-note">
				<label for="note" class="col-sm-3 control-label">
					商家备注
				</label>
				<div class="input-div col-sm-9">
					<p class="form-control-static">
						{{shop_detail.note}}
					</p>
				</div>
			</div>
			<div class="form-group  field-menu">
				<label for="menu" class="col-sm-3 control-label">
					菜品
				</label>
				<div class="input-div col-sm-9">
					<table class="table table-striped">
						<thead>
							{{#if menuCrudItems}}
							<tr class="crud-table-header">
								<th>
									菜名
								</th>
								<th>
									价格
								</th>
								<th>
									上架时间
								</th>
								<th>
									剩余数量
								</th>
							</tr>
							{{/if}}
						</thead>
						<tbody>
							{{#each menuCrudItems}}
							<tr class="crud-table-row">
								<td>
									{{name}}
								</td>
								<td>
									{{price}}
								</td>
								<td>
									{{formatDate date ''}}
								</td>
								<td>
									{{count}}
								</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div col-sm-9 col-sm-offset-3">
					<a href="#" id="form-close-button" class="btn btn-primary">
						OK
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

